.mainDiv{
    background-color: #F4F8FA;
    height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.introLine{
    font-family: 'Work Sans';
    font-size: 20px;
    text-align: center;
    color: #1B31A8;
    background-color: #F4F8FA;
}

.input{
    padding: 6px;
    width: 250px;
    height: 45px;
    background: #FFFFFF;
    border: 1px solid #DCDDEC;
    border-radius: 6px;
    outline: none;
}

.inputLabel{
    font-family: 'IBM Plex Sans';
    font-size: 14px;
}

.originLabel{
    position: relative;
    left: 159px;
    top: -200px;
}

.originInput{
    position: relative;
    left: 159px;
    top: -170px;
}

.destLabel{
    position: relative;
    top: -73px;;
    left: 162px;
}

.destInput{
    position: relative;
    top: -43px;
    left: 159px;
}






.mapDiv{
    margin: -10em 10em 0em 0em;
    width: 560px;
    height: 511px;
}
